mixin dice()
    .panel
        .dice(data-value="0")
            .side.one 
                span.dot
            .side.two 
                span.dot 
                span.dot 
            .side.three 
                span.dot 
                span.dot
                span.dot
            .side.four 
                .dice-column
                    span.dot 
                    span.dot 
                .dice-column 
                    span.dot 
                    span.dot 
            .side.five 
                .dice-column 
                    span.dot 
                    span.dot 
                .dice-column 
                    span.dot 
                .dice-column 
                    span.dot 
                    span.dot 
            .side.six 
                .dice-column 
                    span.dot 
                    span.dot 
                    span.dot 
                .dice-column 
                    span.dot 
                    span.dot 
                    span.dot 