doctype html 
include score-board

html(lang="ko")
    head 
        title #{pageTitle}
        link(rel="stylesheet", href="/static/css/styles.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body 
        main#yacht
            #welcome
                form#enterRoom
                    input(placeholder="nickname", required, type="text")#nickname
                    button.edit-button.blue 입장
                div
                    span#currentGame
            #gameScreen.hidden
                h3
                div
                    #yachtBoard
                        #scoreBoard
                            #player1Score
                                +score-board()    
                            #player2Score
                                +score-board()
                        #playground.hidden
                            .playground-header
                                span 남은 횟수 :
                                span.leftover 3
                                button.hidden.edit-button.blue 데굴데굴
                            ul.dices
                                li.dice 0
                                li.dice 0
                                li.dice 0
                                li.dice 0
                                li.dice 0
                        button.game-start.hidden.edit-button.red 게임 시작
                    .messages
                        #announce
                            span
                        #chat
                            .chat-container
                                ul 
                            form#message
                                input(placeholder="message", required, type="text")
                                button.edit-button.green 전송
                            
        script(src="/socket.io/socket.io.js")
        script(src="/static/js/yacht.js")