mixin score-board()
    .board-info
        span.board-title
        span.board-score 0
    ul
        li.ones 
            span Ones
            span.score
        li.twos 
            span Twos
            span.score
        li.threes 
            span Threes
            span.score
        li.fours
            span Fours
            span.score
        li.fives
            span Fives
            span.score
        li.sixes 
            span Sixes
            span.score
        li.fourofakind 
            span Four of a kind
            span.score
        li.fullhouse 
            span Full House
            span.score
        li.littlestraight 
            span Little Straight
            span.score
        li.bigstraight 
            span Big Straight
            span.score
        li.yacht 
            span Yacht
            span.score
        li.choice 
            span Choice
            span.score
        li.bonus
            span Bonus 
            span.score