mixin score-board()
    .board-info
        span.board-title
        span.board-score 0
    ul
        li.ones 
            span.score(data-value="0") 1들
        li.twos 
            span.score(data-value="0") 2들
        li.threes 
            span.score(data-value="0") 3들
        li.fours
            span.score(data-value="0") 4들
        li.fives
            span.score(data-value="0") 5들
        li.sixes 
            span.score(data-value="0") 6들
        li.fourofakind 
            span.score(data-value="0") 포카
        li.fullhouse 
            span.score(data-value="0") 풀하
        li.littlestraight 
            span.score(data-value="0") 작스
        li.bigstraight 
            span.score(data-value="0") 큰스
        li.yacht 
            span.score(data-value="0") 야추
        li.choice 
            span.score(data-value="0") 선택
        li.bonus
            span.score(data-value="0") 덤