mixin test-mixin()
    .board-info 
        span.board-title 
        span.board-score
    ul 
        li.ones 
            span.score
        li.twos 
            span.score
        li.threes 
            span.score
        li.fours
            span.score
        li.fives
            span.score
        li.sixes 
            span.score
        li.fourofakind 
            span.score
        li.fullhouse 
            span.score
        li.littlestraight 
            span.score
        li.bigstraight 
            span.score
        li.yacht 
            span.score
        li.choice 
            span.score
        li.bonus
            span.score
