header 
    nav 
        ul 
            li.left-menu 
                a(href="/") 파티
            li.left-menu
                a(href="/week") 요일별
            li
                form(action="/search" method="GET").search__form
                    input(placeholder="Search" type="text", name="keyword")
            li.right-menu
                a(href="/user") 유저목록
            li.right-menu
                a(href="/character") 캐릭목록