.char-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;

  span:nth-child(2) {
    margin-bottom: $rem10;
  }

  .char-info__parties {
    margin-top: $rem15;
  }
}
