.char-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;

  .char-info__meta {
    display: flex;
    flex-direction: column;
    span {
      font-size: 1.8rem;
      font-weight: 300;
      text-align: center;
    }
    span:first-child {
      margin-bottom: 10px;
    }
  }

  .char-info__parties {
    margin-top: $rem10;
  }
}
