#partyForm {
  display: flex;
  flex-direction: column;
  padding: $rem05;
  .party-title {
    margin-bottom: $rem10;
    label {
      font-size: 2rem;
    }
  }
  .party-begin {
    display: flex;
    margin: $rem05 0;

    label {
      font-size: 1.8rem;
    }

    div:first-child {
      display: flex;
      flex-direction: column;
      margin-right: 2.5rem;

      .party-begin__range,
      #weekdaymarks {
        width: 20rem;
      }
      .party-begin__range:focus {
        outline: none;
      }

      #weekdaymarks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        writing-mode: vertical-lr;
        margin-bottom: $rem10;
        font-size: 1.4rem;
        option {
          padding: 0;
        }
      }
    }

    div:last-child {
      display: flex;
      flex-direction: column;

      .party-begin__time {
        margin-top: $rem05;
        width: 15rem;
        font-family: "Noto Sans KR", sans-serif;
      }
    }
  }
  span {
    font-size: 1.8rem;
    margin: $rem05 0;
  }
  .current-member__list {
    border-top: 0.5px solid $gray6;
  }

  .free-char__list {
    border-bottom: 0.5px solid $gray6;
    border-top: 0.5px solid $gray6;
  }

  .party-hashtag {
    margin-top: $rem10;
    display: flex;
    flex-direction: column;
    span:first-child {
      margin-bottom: $rem05;
    }
    input {
      color: $link;
      font-size: $rem15;
      padding: $rem05;
      margin-bottom: $rem05;
    }
    span:last-child {
      font-size: $rem15;
      color: $gray8;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    input {
      margin-right: $rem15;
    }
  }
}
