#partyForm {
  display: flex;
  flex-direction: column;
  padding: $rem05;
  .party-title {
    margin-bottom: $rem10;
    label {
      font-size: 2rem;
    }
  }
  .party-begin {
    display: flex;
    margin: $rem05 0;

    & > div {
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 1.8rem;
    }

    div:first-child {
      margin-right: 2.5rem;

      .party-begin__range,
      #weekdaymarks {
        width: 20rem;
      }
      .party-begin__range:focus {
        outline: none;
      }

      #weekdaymarks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        writing-mode: vertical-lr;
        margin-bottom: $rem10;
        font-size: 1.4rem;
        option {
          padding: 0;
        }
      }
    }

    div.party-begin__time-wrapper {
      margin-right: 2.5rem;

      .party-begin__time {
        margin-top: $rem05;
        width: 15rem;
        font-family: "Pretendard", sans-serif;
      }
    }

    div.party-begin__fixed-wrapper {
      flex-direction: row;
      align-items: center;

      .party-begin__fixed {
        display: block;
        appearance: none;
        position: relative;
        background-color: white;
        border: max(2px, 0.1rem) solid white;
        border-radius: 0.9rem;
        width: 5rem;
        height: 1.8rem;
        margin-left: 10px;
      }

      .party-begin__fixed::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        transform: scale(0.8);
        background-color: gray;
        transition: left 300ms ease-in-out;
      }

      .party-begin__fixed:checked::before {
        background-color: white;
        left: 3rem;
      }

      .party-begin__fixed:checked {
        background-color: $green;
        border-color: $green;
      }
    }
  }
  span {
    font-size: 1.8rem;
    margin: $rem05 0;
  }
  .current-member__list {
    border-top: 0.5px solid $gray6;
  }

  .free-char__list {
    border-bottom: 0.5px solid $gray6;
    border-top: 0.5px solid $gray6;
    overflow-y: scroll;
    height: 25vh;
  }

  .free-char__list::-webkit-scrollbar {
    width: 5px;
  }

  .free-char__list::-webkit-scrollbar-thumb {
    height: 15%;
    background: $red;
    border-radius: 10px;
  }

  .free-char__list::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, 0.1);
  }

  .party-hashtag {
    margin-top: $rem10;
    display: flex;
    flex-direction: column;
    span:first-child {
      margin-bottom: $rem05;
    }
    input {
      color: $link;
      font-size: $rem15;
      padding: $rem05;
      margin-bottom: $rem05;
    }
    span:last-child {
      font-size: $rem15;
      color: $gray8;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    input {
      margin-right: $rem15;
    }
  }
}
