#userForm {
  display: flex;
  flex-direction: column;
  .user-title {
    margin-bottom: $rem15;
    label {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
  span {
    font-size: 1.8rem;
    font-weight: 700;
    padding: $rem10 0;
    border-bottom: 0.5px solid $gray6;
  }
}
