#charForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  .char-info {
    display: flex;
    flex-direction: row;

    .char-label,
    .char-input {
      height: 13rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .char-label {
      font-weight: 700;
    }

    .char-input {
      margin-left: 2rem;
      #name {
        width: 20rem;
      }
    }
  }
}
