#userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-title {
    margin-bottom: $rem15;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
  }

  .user-memo {
    textarea {
      font-size: $rem15;
      font-weight: 300;
      line-height: 1.8rem;
      width: 200px;
      padding: 3px;
    }
  }

  .char-list__title {
    font-size: 1.8rem;
    font-weight: 700;
    padding: $rem10;
    margin: 10px 0 5px 0;
  }
  .char-search {
    margin-top: 0;
  }
  .char-list {
    margin-bottom: 20px;
  }
}
