.party-info__container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .party-info__meta {
    font-size: 2rem;
    & span:first-child {
      margin-right: $rem15;
    }
  }

  ul {
    margin-bottom: $rem15;
    display: flex;
    flex-wrap: wrap;
  }
  ul + span {
    font-size: 2.6rem;
    font-weight: 700;
  }
  .party-info__members {
    margin-top: $rem15;
    font-size: 1.8rem;
    font-weight: 300;
    display: grid;
    row-gap: $rem10;
    column-gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.party__comments {
  max-width: 600px;
  width: 50vw;
  margin: 0 auto 15px auto;
  border-top: 0.5px solid $gray6;
  border-bottom: 0.5px solid $gray6;
  padding: 2rem 0px $rem05 0;
  #commentForm {
    display: flex;
    flex-direction: column;
    .comment-owner,
    .comment {
      font-size: $rem15;
      margin-bottom: $rem05;
      padding: $rem10;
    }
  }
}

#commentContainer {
  max-width: 600px;
  width: 50vw;
  margin: 0 auto;

  .comment-mixin__container {
    width: 100%;
    display: flex;
    align-items: flex-start;

    .comment-mixin__data {
      vertical-align: middle;
      padding: $rem10 $rem05;
      flex-grow: 1;
      .comment-mixin__top {
        display: flex;
        justify-content: space-between;
        .comment-info span:first-child {
          font-size: 1.8rem;
          font-family: "Jua", sans-serif;
          margin-right: $rem05;
        }
        span:nth-child(2) {
          font-size: 1.4rem;
          color: $gray6;
        }
        .comment-delete {
          .delete-button {
            font-size: 1.4rem;
            color: $red;
          }
        }
      }
      .comment-mixin__text {
        font-size: 1.6rem;
        font-weight: 300;
        width: 95%;
        p {
          white-space: pre-wrap;
          word-wrap: break-word;
          line-height: 1.8rem;
        }
      }
      &:hover {
        background-color: $gray2;
      }
    }
  }
}
