.user-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-memo {
    font-size: $rem15;
    font-weight: 300;
    p {
      white-space: pre-wrap;
      word-wrap: break-word;
      line-height: 1.8rem;
    }
  }
  .char-list {
    li {
      text-align: center;
    }
  }
  .user-schedule__title {
    font-family: "Jua", sans-serif;
    font-size: 2rem;
    border-bottom: 1px solid whitesmoke;
    margin: 10px 0;
  }
  .user-schedules::-webkit-scrollbar {
    display: none;
  }
  .user-schedules {
    font-size: $rem15;
    display: flex;
    overflow-x: scroll;
    margin-bottom: 30px;
    li {
      padding: 5px;
      margin-right: 5px;
      border: 1px solid $gray6;
      border-radius: 10px;
      .schedule {
        width: 60px;
        span {
          text-align: center;
        }
        .schedule-info {
          display: flex;
          flex-direction: column;
          padding-bottom: 3px;
          margin-bottom: 5px;
          border-bottom: 1px solid $gray6;
        }
        .schedule-title {
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            white-space: nowrap;
          }
        }
      }
    }

    #weekday0 {
      order: 0;
    }
    #weekday1 {
      order: 1;
    }
    #weekday2 {
      order: 2;
    }
    #weekday3 {
      order: 3;
    }
    #weekday4 {
      order: 4;
    }
    #weekday5 {
      order: 5;
    }
    #weekday6 {
      order: 6;
    }
  }
  #commentContainer {
    max-width: 600px;
    .comment {
      padding: 10px 15px;
      border: 1px solid $gray6;
      border-radius: 15px;
      margin-bottom: 10px;
    }
  }
}

.comment-party {
  font-family: "Jua", sans-serif;
  font-size: 1.8rem;
}
