.user-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .char-list {
    li {
      text-align: center;
    }
  }
  #commentContainer {
    .comment {
      padding: 10px 20px;
      border: 1px solid $gray6;
      border-radius: 10px;
      margin-bottom: 5px;
      .comment-mixin__container {
        margin: $rem05 0 $rem10 0;
      }
    }
  }
}

.comment-party {
  font-family: "Jua", sans-serif;
  font-size: 1.8rem;
}
