.btn-week {
  display: flex;
  flex-wrap: wrap;
  a {
    padding: 0.5em 1em;
    margin-right: 5px;
  }
}

.week-party__container {
  display: flex;
  flex-direction: column;
  font-size: $rem15;
  .week-party {
    display: flex;
    border-top: 1px solid $gray6;
    padding-top: $rem10;
    .week-party__weekday {
      margin-right: $rem15;
    }
    .week-party__parties {
      flex-grow: 1;
      & > li {
        margin-bottom: 5px;
        .week-party__party {
          display: flex;
          .week-party__start {
            margin-right: $rem15;
          }
          div {
            min-width: 15rem;
            .week-party__title {
              font-family: "Jua";
              font-size: 2rem;
            }
            .week-party__members {
              .week-party__member {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
      .week-empty {
        margin-bottom: $rem05;
      }
    }
    .week-party__parties::-webkit-scrollbar {
      display: none;
    }
  }
  .week-party__today + .week-party {
    background-color: rgba(255, 0, 0, 0.5);
  }
}
