extends base.pug
include mixins/party

block content
    div.char-info
        .list-header
            .screen-title
                span #{char.name}
        span #{char.classname}
        if char.owner
            span 유저 : #{char.owner.name}
        a(href=`/character/${char._id}/edit`).edit-button.red edit
        ul.char-info__parties.party-grid
            each party in char.parties
                li
                    +party(party)
            else 
                span.empty__message 파티가 없습니다.
