extends base.pug
include mixins/party

block content 
    .list-header
        .screen-title
            span 파티 목록
        a(href="/party/create").edit-button.red create
    .party-grid 
        each party in parties 
            +party(party)
        else 
            span.empty__message 파티가 없습니다.