extends base.pug

block content
    .list-header 
        .screen-title 
            span Patch Note
    ul#patchContainer
        li
            span.patch-date - 2022. 12. 22.
            ul.patch-list
                li 최초배포
        li
            span.patch-date - 2022. 12. 23.
            ul.patch-list
                li 유저 정보에서 해당 유저의 주간 소속 파티 조회 기능 추가
                li 해당 유저의 댓글 모아볼 수 있는 기능 추가
                li 조회 쿼리 최적화
                li 댓글 생성 시간 월이 한달 전으로 나오는 문제 수정
                li 요일별 조회 기능에서 시간 역순으로 조회되던 문제 수정
                li 유저가 지정되지 않은 캐릭터 정보 화면 오류 수정
                li 파티 삭제 시 코멘트가 남아있던 현상 수정
                li 유저의 마지막 캐릭터가 해제되지 않던 현상 수정
        li
            span.patch-date - 2022. 12. 26.
            ul.patch-list
                li 폰트 수정 : Nanum Gothic ▶ Noto Sans KR
                li 유저 생성할 때 기존 유저이름과 동일한 경우 생성 못하도록 수정
        li 
            span.patch-date - 2022. 12. 27.
            ul.patch-list
                li UI 수정(헤더, 파티 제목)
                li 캐릭터 목록에서 이름 검색할 수 있도록 기능 추가
        li 
            span.patch-date - 2022. 12. 29.
            ul.patch-list 
                li 매주 수요일 파티 출발 시간 초기화 (수요일 08:00로 일괄 변경)
                li 수요일 10:00 이전으로 설정된 파티들 미지정으로 표기되도록 변경
                li 유저 프로필에 메모 기능 추가
        li 
            span.patch-date - 2023. 1. 3.
            ul.patch-list 
                li 파티 목록에서 요일 칸이 제목에 밀려 줄바꿈 되는 않도록 변경
                li 요일별 파티 조회 메뉴에서 시간 미지정된 파티 흐릿하게 변경
                li 기타 UI 변경
        li 
            span.patch-date - 2023. 1. 10.
            ul.patch-list 
                li 파티 제목에 '구함'을 넣는 경우 강조하는 이펙트 추가
                li '구함'이 파티 제목에 들어간 경우 목록에서 상단으로 올리도록 변경
        li 
            span.patch-date - 2023. 1. 12.
            ul.patch-list 
                li 캐릭터 삭제 기능 추가 : 캐릭터는 파티 및 유저에 소속되지 않아야 삭제할 수 있음
                li 요일별 파티보기에 오늘 파티 강조하도록 변경
                li 코드 최적화
                li 테스트 도구 페이지 추가
        li 
            span.patch-date - 2023. 2. 9.
            ul.patch-list 
                li Yacht 게임 추가(drunkenbeeraid.duckdns.org/yacht)
                li 예상 점수 계산 기능 추가해야함
        li 
            span.patch-date - Road Map
            ul.patch-list
                li ■ Engrave Search
                li 목표각인 설정한 경우 읽을 각인, 깎을 돌 추천
                li ■ System Migration
                li FE : Pug ▶ React
                li BE : Express.js ▶ Nest.js
                li Lang : Javascript ▶ Typescript