extends base.pug
include mixins/usercard

block content 
    .screen-title 
        span 유저 목록
    ul.user-list 
        each user in users
            +usercard(user)
        else 
            span.empty__message No User found.