extends base.pug
include mixins/usercard

block content 
    .list-header
        .screen-title 
            span 유저 목록
        if !loggedIn
            a(href="/user/create").edit-button.red create
    ul.user-list 
        each user in users
            +usercard(user)
        else 
            span.empty__message 유저가 없습니다.