$score-size: 50px;

$dice-size: 30px;
$dice-trans: 15px;
$dot-size: 5px;

#yacht {
  font-size: 1.6rem;
  margin-top: 0px;
  height: 95vh;

  #welcome {
    margin-top: 30px;
    .record-title {
      font-size: 18px;
      display: block;
      color: white;
      font-weight: 600;
      background-color: #3ea6ff;
      border-bottom: 3px solid white;
      margin-top: 30px;
      padding: 10px 15px;
    }
    #records {
      height: 60vh;
      overflow-y: scroll;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 0 0 20px 20px;

      .record-lose {
        color: tomato;
      }
      .record-win {
        color: #3ea6ff;
      }
      .record-draw {
        color: gray;
      }
      li.record {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid gray;
        padding: 8px 0px;
        .record-meta {
          display: flex;
          .record-date {
            margin-right: 15px;
          }
          .record1 {
            margin-right: 15px;
          }
          .record2 {
            margin-left: 15px;
          }
        }
        .record-detail {
          margin-top: 10px;
          table {
            th,
            td {
              text-align: center;
            }
            th:first-child,
            td:first-child {
              text-align: left;
            }
            td {
              span {
                margin-right: 10px;
              }
            }
            .record-scores {
              display: flex;
              justify-content: space-between;
              margin-left: 10px;
              li {
                width: 30px;
                text-align: center;
                padding: 2px 0;
              }
            }
          }
        }
      }
    }
    #records::-webkit-scrollbar {
      display: none;
    }
  }
  #gameScreen {
    height: 100%;
    h3 {
      font-size: 2.3rem;
      text-align: center;
      font-weight: 500;
      margin-bottom: 0.8rem;
      padding-top: 1rem;
    }
    button {
      margin: 0;
      padding: 0.6rem;
      white-space: nowrap;
    }
    & > div {
      height: 95%;
    }
    #yachtBoard {
      display: flex;
      flex-direction: column;
      height: 100%;
      #scoreBoard {
        display: flex;
        & > div {
          padding: 5px;
          .board-info {
            display: flex;
            margin-bottom: 3px;
            justify-content: space-around;
            .board-title {
              text-overflow: ellipsis;
            }
            .board-score {
              font-size: 1.8rem;
              font-weight: 600;
            }
          }
        }

        & > span {
          display: flex;
          justify-content: center;
          align-items: center;
          color: tomato;
          padding: 2.1rem 1rem 0 1rem;
        }

        .myboard > ul {
          background-color: rgba(255, 215, 0, 0.5);
        }
        .myturn > ul {
          border: 3px solid tomato;
        }
        ul {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          column-gap: 3px;
          row-gap: 5px;
          padding: 5px;
          margin-top: 5px;
          li {
            width: 40px;
            height: 30px;
            padding: 5px 0;
            background-color: white;
            color: $bg;
            font-size: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          li.already {
            background-color: $bg;
            color: gray;
          }
          li.last-selected {
            background-color: gold;
          }
        }
      }
      #rightBoard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;
        padding-top: 1.2rem;
        #playground {
          .playground-header {
            display: flex;
            align-items: center;
            button {
              margin-left: 1.5rem;
            }
          }
        }
        .messages {
          margin-top: 2.5rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          flex-grow: 1;
          #announce {
            margin-bottom: 5px;
            color: tomato;
          }
          #chat {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
            bottom: 0;
            .chat-container {
              flex-grow: 1;
              overflow-y: scroll;
              height: 100px;
              ul {
                top: 0;
                li {
                  font-size: 1.5rem;
                  line-height: 1.8rem;
                  img {
                    width: 3.2rem;
                    height: 3.2rem;
                  }
                }
              }
            }
            .chat-container::-webkit-scrollbar {
              display: none;
            }
            #message {
              display: flex;
              width: 100%;
              input {
                flex-grow: 1;
                padding: 2px 10px 2px 10px;
                margin: 5px 15px 0 0;
              }
            }
          }
        }
        .dices {
          position: relative;
          display: flex;
          justify-content: space-around;
          padding-top: 2rem;
          li {
            .panel {
              width: $dice-size;
              height: $dice-size;
              perspective: calc($dice-size * 2);
              // transform: translate(-50%, -50%);
              .dice {
                position: relative;
                transform-style: preserve-3d;
                transition: transform 1s;
                width: $dice-size;
                height: $dice-size;

                .side {
                  position: absolute;
                  background-color: white;
                  width: $dice-size;
                  height: $dice-size;
                  border-radius: 15%;
                }
                .one {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transform: rotateX(0deg) translateZ($dice-trans);
                  z-index: 1;
                }

                .two {
                  transform: rotateX(-90deg) translateZ($dice-trans);
                  z-index: 2;
                }
                .three {
                  transform: rotateY(90deg) translateZ($dice-trans);
                  z-index: 3;
                }
                .two,
                .three {
                  display: flex;
                  justify-content: space-between;
                }
                .two .dot:nth-of-type(2),
                .three .dot:nth-of-type(3) {
                  align-self: flex-end;
                }

                .three .dot:nth-of-type(2) {
                  align-self: center;
                }
                .four {
                  z-index: 4;
                  transform: rotateX(90deg) translateZ($dice-trans);
                }
                .five {
                  transform: rotateY(-90deg) translateZ($dice-trans);
                  z-index: 5;
                }
                .six {
                  transform: rotateX(180deg) translateZ($dice-trans);
                  z-index: 6;
                }
                .four,
                .five,
                .six {
                  display: flex;
                  justify-content: space-between;
                }
                .four .dice-column,
                .five .dice-column,
                .six .dice-column {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                }

                .five .dice-column:nth-of-type(2) {
                  justify-content: center;
                }

                .dot {
                  display: block;
                  width: $dot-size;
                  height: $dot-size;
                  margin: 1px;
                  border-radius: 50%;
                  background-color: black;
                }
              }
            }
          }
          li.reroll {
            .panel {
              .dice {
                .side {
                  background-color: gold;
                }
              }
            }
          }
        }
      }
    }
  }
}

#yachtNotify {
  position: absolute;
  top: calc(50vh - 10rem);
  width: 100vw;
  text-align: center;
  span {
    font-size: 10rem;
    font-weight: 700;
    color: whitesmoke;
    animation: flicker 0.3s infinite;
  }
}

@keyframes flicker {
  50% {
    text-shadow: 0 0 11px #fff, 0 0 19px #fff, 0 0 40px red, 0 0 80px yellow,
      0 0 100px green, 0 0 150px purple;
  }

  0%,
  100% {
    text-shadow: none;
  }
}
