#yacht {
  font-size: 1.6rem;
  margin-top: 0px;
  #welcome {
    margin-top: 30px;
  }
  #gameScreen {
    h3 {
      font-size: 2.5rem;
      text-align: center;
      font-weight: 500;
    }
    button {
      margin: 0;
      padding: 0.3em 0.5em;
    }
    & > div {
      height: 95vh;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      #yachtBoard {
        padding-top: 15px;
        #scoreBoard {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          & > div {
            width: 45%;
            padding: 5px;
            border: 1px solid $gray6;
            border-radius: 10px;
            .board-info {
              padding-bottom: 5px;
              margin-bottom: 5px;
              border-bottom: 1px solid $gray6;
              .board-score {
                margin-left: 15px;
              }
            }
            ul {
              li {
                display: flex;
                justify-content: space-between;
                line-height: 2.5rem;
              }
              li:hover {
                background-color: aqua;
              }
              li.already {
                color: gray;
              }
              li.already:hover {
                background-color: $bg;
              }
            }
          }
          .myturn {
            border: 2px solid gold;
          }
        }
        #playground {
          margin-bottom: 10px;
          .playground-header {
            display: flex;
            button {
              margin-left: auto;
            }
          }
          .dices {
            display: flex;
            justify-content: space-around;
            padding-top: 15px;
            .dice {
              padding: 10px 15px;
              border: 1px solid $gray6;
              border-radius: 5px;
            }
            .dice.reroll {
              background-color: gold;
              color: $bg;
            }
          }
        }
      }
      .messages {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #announce {
          color: gold;
        }
        #chat {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          margin-top: 10px;
          .chat-container {
            flex-grow: 1;
            height: 100px;
            overflow-y: scroll;
            ul {
              display: flex;
              overflow: hidden;
              flex-direction: column;
              li {
                font-size: 1.5rem;
                line-height: 1.6rem;
              }
            }
          }
          .chat-container::-webkit-scrollbar {
            display: none;
          }

          #message {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            input {
              flex-grow: 1;
              margin-right: 10px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
