.edit-button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  margin: $rem15 0 $rem10 0;
  padding: 0.7em 2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.red {
  color: $red;
  border: 2px solid $red;
  &:hover {
    box-shadow: 0 0 40px 40px $red inset;
  }
}

.blue {
  color: $link;
  border: 2px solid $link;
  &:hover {
    box-shadow: 0 0 40px 40px $link inset;
  }
}

.green {
  color: $green;
  border: 2px solid $green;
  &:hover {
    box-shadow: 0 0 40px 40px $green inset;
  }
}

.selected {
  border: 2px solid $green;
  box-shadow: 0 0 40px 40px $green inset;
}

.hashtags {
  display: flex;
  .hashtag {
    font-size: $rem15;
    color: $link;
    margin-right: 0.3rem;
  }
}
