input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  font-size: 1.6rem;
}

input[type="checkbox"] + label:hover {
  background-color: white;
  color: $bg;
}

input[type="checkbox"]:checked + label {
  background-color: goldenrod;
  color: $bg;
  font-weight: 700;
}

.char-search,
input[type="text"],
textarea {
  all: unset;
  border: 1px $gray6 solid;
}

.char-search,
input.form-title {
  font-size: 1.6rem;
  padding: 0.3rem;
  border: 0;
  border-bottom: 0.5px solid $gray6;
}

.char-search {
  text-align: center;
  margin: 15px 0;
}

.form-select {
  color: white;
  background-color: $bg;
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
  border: 0.5px solid $gray6;
  border-radius: 5px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  padding: 5px;
}

.form-select::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  background-color: #aaa;
}

.form-select::-webkit-scrollbar-thumb {
  background: red;
}
