header {
  position: fixed;
  top: 0;
  nav {
    background-color: beige;
    color: $bg;
    font-family: "Jua", sans-serif;
    font-size: 1.8rem;
    ul {
      display: flex;
      width: 100vw;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $rem05;
        transition: background-color 0.3s ease-in-out;
        a {
          text-align: center;
        }
      }
      li:first-child {
        margin-left: $rem15;
        margin-right: 1rem;
      }
      li:not(:nth-child(3)):hover,
      .search__form > input {
        background-color: $bg;
        color: beige;
      }
      li:nth-child(3) {
        flex-grow: 1;
      }
      li:last-child {
        margin-right: $rem15;
      }
      .search__form {
        width: 95%;
        input {
          width: 90%;
          padding: $rem05;
          border: 1px solid gray;
          border-radius: 5px;
          margin: 0 auto;
        }
      }
    }
  }
}
