.char-list {
  padding: $rem10 $rem05;
  font-size: 1.5rem;
  li {
    line-height: 2rem;
    margin-bottom: 0.6rem;
  }
}

.screen-title {
  font-family: "Jua";
  font-size: 4.8rem;
  padding: $rem05;
  border-bottom: 2px solid white;
  margin-bottom: $rem10;
}

.empty__message {
  font-size: $rem15;
}
