.char-list {
  padding: 10px 5px;
  li {
    line-height: 18px;
    margin-bottom: 6px;
  }
}

.screen-title {
  font-family: "Jua";
  font-size: 48px;
  padding: 5px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}
